<footer class="site-footer" data-pagefind-ignore> {#obviously we are not going to includ footer in pagefind#}
  <p>&copy; {{ build.year }} {{ site.author }}</p>
  <ul class="footer-links">
    {% for item in site.social %}
      <li><a href="{{ item.url }}">{{ item.text }}</a></li>
    {% endfor %}
    <li><a href="/contact/">Contact</a></li>
  </ul>
</footer>
