<!DOCTYPE html>
<html lang="en">
<head>
  {% include "head.njk" %}
</head>
<body>
  <a class="skip-link" href="#main">Skip to main content</a>

  {% include "site-header.njk" %}

  <main id="main" data-pagefind-body> {#added to use pagefind#}
    {{ content | safe }}
  </main>

  {% include "site-footer.njk" %}

  <script type="module" src="/js/theme.js"></script>
</body>
</html>
